<ion-header>
  <ion-navbar>
    <ion-title>Boycott</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="search($event)" [(ngModel)]="searchText"></ion-searchbar>
  <ion-list *ngFor="let campaign of campaigns">
    <ion-list-header>
      {{ campaign.name}}
    </ion-list-header>
    <button text-wrap ion-item *ngFor="let company of filteredCompaniesByCampaign[campaign.id]" (click)="selectCompany(company)">
      {{ company.name }}
    </button>
  </ion-list>
</ion-content>
